* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
  }
  
  body {
    margin-top: 57px;
    display: flex;
    justify-content: center;
  }
  
  body div {
    align-items: center;
  }
  
  .img {
    border-right: 2px solid black;
  }
  
  label{
    color:red
   
  }
  
  .container {
    max-width: 600px;
  
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .wrapper {
    width: 100%;
    background: white;
    border-radius: 5px;
  margin-left: 12px;
  }
  
  .wrapper .title {
    height: 90px;
  
    border-radius: 5px 5px 0 0;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper form {
    padding: 30px 25px 25px 25px;
  }
  
  .wrapper form .row {
    height: 57px;
    margin-bottom: 57px;
    position: relative;
  }
  
  .wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  form .row input:focus {
    border-color: #00A1D9;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
  }
  
  form .row input::placeholder {
    color: #D4D4D4;
  }
  
  footer {
    display: flex;
    justify-content: center;
  }
  
  footer a {
    color: black;
    text-decoration: none;
  }
  
  .wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #00A1D9;
    border: 1px solid  #00A1D9;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper form .pass {
    margin: -8px 0 20px 0;
  }
  
  .wrapper form .pass a {
    color: #1680a0;
    font-size: 17px;
    text-decoration: none;
  }
  
  .wrapper form .pass a:hover {
    text-decoration: underline;
  }
  
  .wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #00A1D9;
    border: 1px solid #00A1D9;
    cursor: pointer;
    width: 125px;
    height: 40px
  }
  
  .wrapper p {
    text-align: center;
    color: #D4D4D4;
    font-size: 20px;
  }
  
  form .button input:hover {
    background: #00A1D9;
    transform: scale(110%);
  
  }
  
  form .button {
    justify-content: center;
    display: flex;
  }
  
  .login_form #email_error,
  .login_form #pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #cc1c1c;
    background: rgba(253, 7, 7, 0.696);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
  }
  
  .wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
  }
  
  .wrapper form .signup-link a {
    color: #00A1D9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: #00A1D9;
  }
  i:hover{
    transform: scale(110%);
  }
  
  @media screen and (max-width: 600px) {
  
    .container {
      max-width: 600px;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-family: 'Roboto', sans-serif;
    }
  
    body {
      display: block;
      justify-content: center;
    }
  
    .img {
      border-right: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }